@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Jua&display=swap"); */

/* ./assets/css/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans KR", sans-serif;
  /* font-family: "Jua", sans-serif; */
}
